* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #f4f4f4;
}
.color {
  color: brown;
  font-size: 14px;
}

input {
  width: 30%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #53580d;
  border-radius: 7px;
}

span {
  font-weight: bold;
}


